<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="layout-main-boleta flex align-items-center justify-content-center">
                <div class="contenedor">
    
                    <p-tabView>
                        <p-tabPanel header="Cargar catálogo de votantes" leftIcon="pi pi-box" tooltip="Votantes">
                            <form [formGroup]="catVotantesForm" (submit)="guardarVotantes()">
    
    
                                <div class="w-full md:w-10 mx-auto">
    
                                    <div class="grid">
                                        <div class="col-12">
    
                                            <div class="text-center">
                                                <h5><b>Votantes</b>: El formato debe ser .csv (separado por comas ",")</h5>
                                            </div>
    
                                        </div>
    
    
                                        <!-- AQUI -->
    
                                        <div styleClass="w-full" class="md:w-10 mx-auto">
                                            <div class="field grid">
                                                <label for="firstname4" class="col-12 mb-2 md:col-4 md:mb-0">Adjuntar
                                                    archivo:
                                                </label>
                                                <div class="col-12 md:col-8">
                                                    <p-fileUpload name="files" [multiple]="false" accept=".csv"
                                                        maxFileSize="10000000" fileLimit="1"
                                                        invalidFileLimitMessageSummary="Número máximo de archivos excedido"
                                                        invalidFileLimitMessageDetail="El límite es 2 como máximo."
                                                        invalidFileTypeMessageDetail="tipos de archivos permitidos: csv"
                                                        invalidFileTypeMessageSummary="Tipo de archivo no admitido"
                                                        [showUploadButton]="false" chooseLabel="Seleccionar"
                                                        cancelLabel="Cancelar y limpiar"
                                                        (onSelect)="dealWithFileVotantes($event)"
                                                        (onRemove)="removio(catVotantesForm);">
                                                        <ng-template pTemplate="content">
                                                            <ul *ngIf="uploadedFileVotantes.length">
                                                                <li *ngFor="let file of uploadedFileVotantes">{{file.name}} -
                                                                    {{file.size}} bytes</li>
                                                            </ul>
                                                        </ng-template>
                                                    </p-fileUpload>
                                                </div>
                                            </div>
                                        </div>
    
    
                                    </div>
    
                                    <button type="submit" [disabled]="!catVotantesForm.valid" #enviado pButton pRipple
                                        label="Guardar catálogo de botantes" class="w-full p-3 text-xl" iconPos="right"
                                        [loading]="loading"></button>
                                </div>
    
                            </form>
                            <pre>
                                {{ catVotantesForm.value | json }}
                                {{ catVotantesForm.valid | json }}
                            </pre>
                        </p-tabPanel>
                        <p-tabPanel header="Cargar catálogo de candidatos" rightIcon="pi pi-users" tooltip="Candidatos">
                            <form [formGroup]="catCandidatosForm" (submit)="guardarCandidatos()">
    
    
                                <div class="w-full md:w-10 mx-auto">
    
                                    <div class="grid">
                                        <div class="col-12">
    
                                            <div class="text-center">
                                                <h5><b>Candidatos</b>: El formato debe ser .csv (separado por comas ",")</h5>
                                            </div>
    
                                        </div>
    
    
                                        <!-- AQUI -->
    
                                        <div styleClass="w-full" class="md:w-10 mx-auto">
                                            <div class="field grid">
                                                <label for="firstname4" class="col-12 mb-2 md:col-4 md:mb-0">Adjuntar
                                                    archivo:
                                                </label>
                                                <div class="col-12 md:col-8">
                                                    <p-fileUpload name="files" [multiple]="false" accept=".csv"
                                                        maxFileSize="10000000" fileLimit="1"
                                                        invalidFileLimitMessageSummary="Número máximo de archivos excedido"
                                                        invalidFileLimitMessageDetail="El límite es 2 como máximo."
                                                        invalidFileTypeMessageDetail="tipos de archivos permitidos: csv"
                                                        invalidFileTypeMessageSummary="Tipo de archivo no admitido"
                                                        [showUploadButton]="false" chooseLabel="Seleccionar"
                                                        cancelLabel="Cancelar y limpiar"
                                                        (onSelect)="dealWithFileCandidatos($event)"
                                                        (onRemove)="removio(catCandidatosForm);">
                                                        <ng-template pTemplate="content">
                                                            <ul *ngIf="uploadedFileCandidatos.length">
                                                                <li *ngFor="let file of uploadedFileCandidatos">{{file.name}} -
                                                                    {{file.size}} bytes</li>
                                                            </ul>
                                                        </ng-template>
                                                    </p-fileUpload>
                                                </div>
                                            </div>
                                        </div>
    
    
                                    </div>
    
                                    <button type="submit" [disabled]="!catCandidatosForm.valid" #enviado pButton pRipple
                                        label="Guardar catálogo de candidatos" class="w-full p-3 text-xl" iconPos="right"
                                        [loading]="loading"></button>
                                </div>
    
                            </form>
                            <pre>
                                {{ catCandidatosForm.value | json }}
                            </pre>
                        </p-tabPanel>
                    </p-tabView>
    
    
    
    
                    <!-- <pre> {{boletaDistritalForm.value | json}} </pre> -->
    
                </div>
            </div>
        </div>
    </div>
</div>