<div class="layout-header">
    <div class="layout-header-logo">
        <img src="assets/layout/images/iecm/iecm-10-pp.png"
            alt="Logo conmemorativo a los 10 años del presupuesto participativo">
        <img src="assets/layout/images/iecm/logo_consulta_infantil_y_juvenil.png"
            alt="Logo conmemorativo a los 10 años del presupuesto participativo">
    </div>
    <div class="layout-header-nombre-sistema text-indigo-400">
        <h1>Consulta para niñas, niños y adolescentes 2022</h1>
        <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
            <i class="pi pi-bars"></i>
        </a>
    </div>

</div>
 