<div class="grid">
    <div class="col-12">
        <div class="layout-main-boleta flex align-items-center justify-content-center">
            <div class="contenedor" style="width: 80%;">
                <button pButton type="button"
                        class="mb-4 p-3 text-xl p-button-warning animate__animated animate__bounceIn" icon="pi pi-arrow-left"
                        iconPos="left" label="Cancelar edición y regresar"
                        [routerLink]="[ '/main/captura-actas']" *ngIf="itsEdit"></button>
                        <!-- <a [routerLink]="[ '/main/captura-actas']">name</a> -->
                        <div *ngIf="barra_progreso">
                            <small>Cargando...</small>
                            <p-progressBar class="mb-4 p-3" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                        </div>
                <form [formGroup]="actaForm" (submit)="guardarActa()" autocomplete="off">

                    <div class="card mb-0">
                        <div styleClass="w-full" class="md:w-10 mx-auto">
                            <div class="field grid">
                                <label for="firstname4" class="col-12 mb-2 md:col-4 md:mb-0">No. de MRE: </label>
                                <div class="col-12 md:col-8">
                                    <p-dropdown placeholder="Selecciona..." [readonly]="itsEdit" [options]="mre" optionLabel="mre_capturada" formControlName="mre" required styleClass="w-full"
                                        (onChange)="captura($event)">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>



                    <p-fieldset legend="Instalación y apertura" class="p-2">

                        <div styleClass="w-full" class="md:w-10 mx-auto">
                            <div class="field grid">
                                <label for="lblFechaInstalacion" class="col-12 mb-2 md:col-4 md:mb-0">Fecha de
                                    instalación de MRE</label>
                                <div class="col-12 md:col-8">
                                    <p-calendar [showIcon]="true" formControlName="fecha_instalacion" [showTime]="false" [disabled]="true" inputId="lblFechaInstalacion"></p-calendar>
                                </div>
                            </div>

                            <div class="field grid">
                                <label for="lblHoraInstalacion" class="col-12 mb-2 md:col-4 md:mb-0">Hora de instalación
                                    de MRE:</label>
                                <div class="col-12 md:col-8">
                                    <p-calendar [showIcon]="true" placeholder="HH:MM" dataType="string" formControlName="hora_instalacion" icon="pi pi-clock" [timeOnly]="true" [hourFormat]="24"
                                        inputId="lblHoraInstalacion"></p-calendar>
                                        <p-message styleClass="mr-2 mt-1" *ngIf="hora1" severity="warn" text="El rango de hora para este campo debe ser entre las 07:00 y las 12:00 horas."></p-message>
                                </div>
                            </div>

                            <hr>


                            <div class="field grid">
                                <label for="lblFechaApertura" class="col-12 mb-2 md:col-4 md:mb-0">Fecha de apertura de
                                    MRE</label> <!-- Por default 5 de mayo -->
                                <div class="col-12 md:col-8">
                                    <p-calendar [showIcon]="true" formControlName="fecha_apertura" [showTime]="false" [disabled]="true" inputId="lblFechaApertura"></p-calendar>
                                </div>
                            </div>

                            <div class="field grid">
                                <label for="lblHoraApertura" class="col-12 mb-2 md:col-4 md:mb-0">Hora de apertura de
                                    MRE:</label>
                                <div class="col-12 md:col-8">
                                    <p-calendar [showIcon]="true" placeholder="HH:MM" formControlName="hora_apertura" dataType="string" icon="pi pi-clock" [timeOnly]="true" [hourFormat]="24"
                                        inputId="lblHoraApertura"></p-calendar>
                                        <p-message styleClass="mr-2 mt-1" *ngIf="hora2" severity="warn" text="El rango de hora para este campo debe ser entre las 09:00 y las 12:00 horas."></p-message>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>

                    <p-fieldset legend="Incidentes" class="p-2">
                        <div class="w-full md:w-10 mx-auto">
                            <div class="grid">
                                <div styleClass="w-full" class="md:w-10 mx-auto">
                                    <div class="field grid">
                                        <span class="p-float-label">
                                            <textarea id="lblIncidente" rows="5" formControlName="incidentes" cols="50" maxlength="1000"
                                                pInputTextarea autoResize="autoResize" class="w-full"></textarea>
                                            <label for="lblIncidente">Registra los incidentes</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>

                    <p-fieldset legend="Participación total" class="p-2">

                        <div styleClass="w-full" class="md:w-10 mx-auto">
                            <div class="field grid">
                                <label for="lblTotalBolExtraidas" class="col-12 mb-2 md:col-4 md:mb-0">Total de boletas
                                    extraídas de la urna:</label>
                                <div class="col-12 md:col-8">
                                    <p-inputNumber [maxlength]="max_length" inputId="lblTotalBolExtraidas" formControlName="bol_extraidas" min="0"></p-inputNumber>
                                    <p-message *ngIf="campoEsValido('bol_extraidas');" styleClass="mr-2 mt-1" severity="warn" text="Ingresa el total de boletas extraídas de la urna"></p-message> 
                                </div>
                            </div>

                            <div class="field grid">
                                <label for="lblConOpinion" class="col-12 mb-2 md:col-4 md:mb-0">Con opinión:</label>
                                <div class="col-12 md:col-8">
                                    <p-inputNumber inputId="lblConOpinion" formControlName="con_opinion" min="0" [maxlength]="max_length"></p-inputNumber>
                                    <p-message *ngIf="campoEsValido('con_opinion');" styleClass="mr-2 mt-1" severity="warn" text="Ingresa el total de boletas con opinión"></p-message> 
                                </div>
                            </div>


                            <div class="field grid">
                                <label for="lblSinOpinion" class="col-12 mb-2 md:col-4 md:mb-0">Sin opinión:</label>
                                <div class="col-12 md:col-8">
                                    <p-inputNumber inputId="lblSinOpinion" formControlName="sin_opinion" min="0" [maxlength]="max_length"></p-inputNumber>
                                    <p-message *ngIf="campoEsValido('sin_opinion');" styleClass="mr-2 mt-1" severity="warn" text="Ingresa el total de boletas sin opinión"></p-message> 
                                </div>
                            </div>
                           
                            <div class="field grid animate__animated animate__bounceIn" *ngIf="revisarCaptura1();">
                                <div class="col-12">
                                    <p-messages severity="warn">
                                        <ng-template pTemplate>
                                            <div class="ml-2">
                                                El número de boletas con y sin opinión no coincide con el total de boletas extraídas de la urna, <b>por favor verifique la información</b>.
                                            </div>
                                        </ng-template>
                                    </p-messages>
                                </div>
                            </div>



                            <div class="field grid p-fluid card">
                                <div class="col-12 lg:col-6 xl:col-4 text-900">
                                    <div class="mb-0">
                                        <div class="flex justify-content-between mb-3">
                                            <div>
                                                <span class="block text-50 bg-orange-500 font-medium mb-2">Grupo etario
                                                    de 6 a 9 años</span>
                                                <div class="font-medium text-sm"> <label for="mujer1_edad">a) Mujeres</label></div>
                                                <div class="font-medium text-sm mb-1">
                                                    <p-inputNumber [maxlength]="max_length" inputId="mujer1_edad" formControlName="edad1_mujer" styleClass="capturaTabla">
                                                    </p-inputNumber>
                                                </div>
                                                <div class="font-medium text-sm"> <label for="hombre1_edad">b) Hombres</label></div>
                                                <div class="font-medium text-sm mb-1">
                                                    <p-inputNumber [maxlength]="max_length" inputId="hombre1_edad" formControlName="edad1_hombre" styleClass="capturaTabla">
                                                    </p-inputNumber>
                                                </div>
                                                <div class="font-medium text-sm"> <label for="noidentifica1_edad">c) No se identificaron con alguna de
                                                    las opciones anteriores</label></div>
                                                <div class="font-medium text-sm mb-1">
                                                    <p-inputNumber [maxlength]="max_length" inputId="noidentifica1_edad" formControlName="edad1_noidentifica" styleClass="capturaTabla">
                                                    </p-inputNumber>
                                                </div>
                                                <div class="font-medium text-sm"> <label for="prefierono1_edad">d) Prefiero no decirlo</label></div>
                                                <div class="font-medium text-sm">
                                                    <p-inputNumber [maxlength]="max_length" inputId="prefierono1_edad" formControlName="edad1_nodecirlo" styleClass="capturaTabla">
                                                    </p-inputNumber>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 lg:col-6 xl:col-4">
                                    <div class="mb-0">
                                        <div class="flex justify-content-between mb-3">
                                            <div>
                                                <span class="block text-50 bg-green-500 font-medium mb-2">Grupo etario
                                                    de 10 a 13 años</span>
                                                <div class="font-medium text-sm"> <label for="mujer2_edad">a) Mujeres</label></div>
                                                <div class="font-medium text-sm mb-1">
                                                    <p-inputNumber [maxlength]="max_length" inputId="mujer2_edad" formControlName="edad2_mujer" styleClass="capturaTabla">
                                                    </p-inputNumber>
                                                </div>
                                                <div class="font-medium text-sm"> <label for="hombre2_edad">b) Hombres</label></div>
                                                <div class="font-medium text-sm mb-1">
                                                    <p-inputNumber [maxlength]="max_length" inputId="hombre2_edad" formControlName="edad2_hombre" styleClass="capturaTabla">
                                                    </p-inputNumber>
                                                </div>
                                                <div class="font-medium text-sm"> <label for="noidentifica2_edad">c) No se identificaron con alguna de
                                                    las opciones anteriores</label></div>
                                                <div class="font-medium text-sm mb-1">
                                                    <p-inputNumber [maxlength]="max_length" inputId="noidentifica2_edad" formControlName="edad2_noidentifica" styleClass="capturaTabla">
                                                    </p-inputNumber>
                                                </div>
                                                <div class="font-medium text-sm"> <label for="prefierono2_edad">d) Prefiero no decirlo</label></div>
                                                <div class="font-medium text-sm">
                                                    <p-inputNumber [maxlength]="max_length" inputId="prefierono2_edad" formControlName="edad2_nodecirlo" styleClass="capturaTabla">
                                                    </p-inputNumber>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 lg:col-6 xl:col-4">
                                    <div class="mb-0">
                                        <div class="flex justify-content-between mb-3">
                                            <div>
                                                <span class="block text-50 bg-indigo-500 font-medium mb-2">Grupo etario
                                                    de 14 a 17 años</span>
                                                <div class="font-medium text-sm"> <label for="mujer3_edad">a) Mujeres</label></div>
                                                <div class="font-medium text-sm mb-1">
                                                    <p-inputNumber [maxlength]="max_length" inputId="mujer3_edad" formControlName="edad3_mujer" styleClass="capturaTabla">
                                                    </p-inputNumber>
                                                </div>
                                                <div class="font-medium text-sm"> <label for="hombre3_edad">b) Hombres</label></div>
                                                <div class="font-medium text-sm mb-1">
                                                    <p-inputNumber [maxlength]="max_length" inputId="hombre3_edad" formControlName="edad3_hombre" styleClass="capturaTabla">
                                                    </p-inputNumber>
                                                </div>
                                                <div class="font-medium text-sm"> <label for="noidentifica3_edad">c) No se identificaron con alguna de
                                                    las opciones anteriores</label></div>
                                                <div class="font-medium text-sm mb-1">
                                                    <p-inputNumber [maxlength]="max_length" inputId="noidentifica3_edad" formControlName="edad3_noidentifica" styleClass="capturaTabla">
                                                    </p-inputNumber>
                                                </div>
                                                <div class="font-medium text-sm"> <label for="prefierono3_edad">d) Prefiero no decirlo</label></div>
                                                <div class="font-medium text-sm">
                                                    <p-inputNumber [maxlength]="max_length" inputId="prefierono3_edad" formControlName="edad3_nodecirlo" styleClass="capturaTabla">
                                                    </p-inputNumber>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field grid animate__animated animate__bounceIn" *ngIf="revisarCaptura2();">
                                    <div class="col-12">
                                        <p-messages severity="warn">
                                            <ng-template pTemplate>
                                                <div class="ml-2">
                                                    La cantidad de boletas registradas según grupo etario y género no coincide con el total de boletas con opinión, <b>por favor verifique la información</b>.
                                                </div>
                                            </ng-template>
                                        </p-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>

                    <p-fieldset legend="Cierre y clausura">
                        <div styleClass="w-full" class="md:w-10 mx-auto">

                            <div class="field grid">
                                <label for="lblHoraCierreMRE" class="col-12 mb-2 md:col-4 md:mb-0">Hora de cierre
                                    de MRE:</label>
                                <div class="col-12 md:col-8">
                                    <p-calendar [showIcon]="true" placeholder="HH:MM" dataType="string" icon="pi pi-clock" formControlName="hora_cierre" [timeOnly]="true" [hourFormat]="24"
                                        inputId="lblHoraCierreMRE"></p-calendar>
                                        <p-message styleClass="mr-2 mt-1" *ngIf="hora3" severity="warn" text="El rango de hora para este campo debe ser entre las 17:00 y 18:00 horas."></p-message>
                                </div>
                            </div>

                            <div class="field grid">
                                <label for="lblHoraClausuraMRE" class="col-12 mb-2 md:col-4 md:mb-0">Hora de clausura de
                                    MRE:</label>
                                <div class="col-12 md:col-8">
                                    <p-calendar [showIcon]="true" placeholder="HH:MM" dataType="string" icon="pi pi-clock" formControlName="hora_conclusion" [timeOnly]="true" [hourFormat]="24"
                                        inputId="lblHoraClausuraMRE"></p-calendar>
                                        <p-message styleClass="mr-2 mt-1" *ngIf="hora4" severity="warn" text="El rango de hora para este campo debe ser entre las 17:00 y 21:00 horas."></p-message>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>

                    <div class="mt-2 card flex align-items-center justify-content-center" *ngIf="caution1 || caution2">
                        <p-message severity="warn" text="El formulario cuenta con inconsistencias" styleClass="mr-2"></p-message>
                    </div>

                    <button type="submit" [disabled]="!actaForm.valid" #enviado pButton pRipple
                        label="Guardar y/o enviar respuestas" class="mt-4 w-full p-3 text-xl"
                        iconPos="right" [loading]="loading"></button>
                </form>
                <!-- <pre> {{actaForm.value | json}} </pre> -->

            </div>
        </div>
    </div>
</div>