<div class="layout-topbar bg-indigo-600 text-white">
    <div class="layout-topbar-logo">
        <!-- <img src="assets/layout/images/iecm/logopp-copia-400x128.png" alt="Logo conmemorativo a los 10 años del presupuesto participativo"> -->
    </div>
    
    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>
    <!-- <span>{{ nombre_sistema }}</span> -->

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <!-- <i class="pi pi-ellipsis-v"></i> -->
    </a>
    <!-- <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        <a href="#" class="p-link layout-topbar-button">
            <i class="pi pi-user" title="Usuario"></i>
            <span>Profile</span>
        </a>
    </div> -->
</div>