<div id="home" class="surface-0 overflow-hidden">
    <div
        class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-center relative lg:static">
        <a class="flex align-items-center" href="#">
            <!-- <img src="assets/layout/images/{{config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="Sakai Logo" height="50" class="mr-0 lg:mr-2"><span class="text-900 font-medium text-2xl line-height-3 mr-8">SAKAI</span> -->
            <img src="assets/layout/images/iecm/iecm-10-pp.png" alt="Sakai Logo" height="50" class="mr-0 lg:mr-2"><span
                class="text-900 font-medium text-2xl line-height-3">{{nombre_sistema}}</span>
                <!-- mr-8 -->
        </a>
        <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden"
            leaveToClass="hidden" [hideOnOutsideClick]="true">
            <i class="pi pi-bars text-4xl"></i>
        </a>
        <div class="align-items-center surface-0 justify-content-end hidden lg:flex absolute lg:static left-0 px-6 lg:px-0 z-2"
            style="top:92%">
            <!-- flex-grow-1 -->
            <!-- w-full -->
            <!-- <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
                <li>
                    <a (click)="router.navigate(['/pages/landing'], {fragment: 'features'})" pRipple
                        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                        <span>Features</span>
                    </a>
                </li>
                <li>
                    <a (click)="router.navigate(['/pages/landing'], {fragment: 'highlights'})" pRipple
                        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                        <span>Highlights</span>
                    </a>
                </li>
                <li>
                    <a (click)="router.navigate(['/pages/landing'], {fragment: 'pricing'})" pRipple
                        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                        <span>Pricing</span>
                    </a>
                </li>
            </ul> -->
            <div
                class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">
                <!-- <button pButton pRipple label="Login"
                    class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500"></button> -->
                <button pButton pRipple label="Register"
                    class="p-button-rounded border-none ml-5 font-light line-height-2 bg-blue-500 text-white"></button>
            </div>
        </div>
    </div>

    <!-- <div id="hero" class="grid py-4 px-4 lg:px-8 relative">
        <div class="mx-4 md:mx-8 mt-0 md:mt-4">
            <h1 class="text-6xl font-bold text-gray-900 line-height-2"><span class="font-light block">Eu sem integer</span>eget magna fermentum</h1>
            <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">Sed blandit libero volutpat sed cras. Fames ac turpis egestas integer. Placerat in egestas erat... </p>
            <button pButton pRipple type="button" label="Get Started" class="p-button-rounded text-xl border-none mt-3 bg-blue-500 font-normal line-height-3 px-3 text-white"></button>
        </div>
        <img src="assets/layout/images/iecm/iecm-10-pp.png" alt="" class="sm:mt-5 md:mt-0" style="right:10%;">
    </div> -->

    <div id="features" class="py-2 px-4 lg:px-8 mt-1 mx-0 lg:mx-8">
        <div class="grid justify-content-center">
            <div class="col-12 text-center mt-8 mb-4">
                <h2 class="text-900 font-normal mb-2">Marvelous Features</h2>
                <span class="text-600 text-2xl">Placerat in egestas erat...</span>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                <div
                    style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <div class="flex align-items-center justify-content-center bg-yellow-200 mb-3"
                            style="width:3.5rem;height:3.5rem; border-radius:10px;">
                            <i class="pi pi-fw pi-users text-2xl text-yellow-700"></i>
                        </div>
                        <h5 class="mb-2 text-900">Easy to Use</h5>
                        <span class="text-600">Posuere morbi leo urna molestie.</span>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                <div
                    style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145,226,237,0.2),rgba(251, 199, 145, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2), rgba(172, 180, 223, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <div class="flex align-items-center justify-content-center bg-cyan-200 mb-3"
                            style="width:3.5rem;height:3.5rem; border-radius:10px;">
                            <i class="pi pi-fw pi-palette text-2xl text-cyan-700"></i>
                        </div>
                        <h5 class="mb-2 text-900">Fresh Design</h5>
                        <span class="text-600">Semper risus in hendrerit.</span>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pb-5 mt-4 lg:mt-0">
                <div
                    style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145, 226, 237, 0.2), rgba(172, 180, 223, 0.2)), linear-gradient(180deg, rgba(172, 180, 223, 0.2), rgba(246, 158, 188, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <div class="flex align-items-center justify-content-center bg-indigo-200"
                            style="width:3.5rem;height:3.5rem; border-radius:10px;">
                            <i class="pi pi-fw pi-map text-2xl text-indigo-700"></i>
                        </div>
                        <h5 class="mb-2 text-900">Well Documented</h5>
                        <span class="text-600">Non arcu risus quis varius quam quisque.</span>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                <div
                    style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(187, 199, 205, 0.2),rgba(251, 199, 145, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(145, 210, 204, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3"
                            style="width:3.5rem;height:3.5rem; border-radius:10px;">
                            <i class="pi pi-fw pi-id-card text-2xl text-bluegray-700"></i>
                        </div>
                        <h5 class="mb-2 text-900">Responsive Layout</h5>
                        <span class="text-600">Nulla malesuada pellentesque elit.</span>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                <div
                    style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(187, 199, 205, 0.2),rgba(246, 158, 188, 0.2)), linear-gradient(180deg, rgba(145, 226, 237, 0.2),rgba(160, 210, 250, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <div class="flex align-items-center justify-content-center bg-orange-200 mb-3"
                            style="width:3.5rem;height:3.5rem; border-radius:10px;">
                            <i class="pi pi-fw pi-star text-2xl text-orange-700"></i>
                        </div>
                        <h5 class="mb-2 text-900">Clean Code</h5>
                        <span class="text-600">Condimentum lacinia quis vel eros.</span>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pb-5 mt-4 lg:mt-0">
                <div
                    style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(251, 199, 145, 0.2), rgba(246, 158, 188, 0.2)), linear-gradient(180deg, rgba(172, 180, 223, 0.2), rgba(212, 162, 221, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <div class="flex align-items-center justify-content-center bg-pink-200 mb-3"
                            style="width:3.5rem;height:3.5rem; border-radius:10px;">
                            <i class="pi pi-fw pi-moon text-2xl text-pink-700"></i>
                        </div>
                        <h5 class="mb-2 text-900">Dark Mode</h5>
                        <span class="text-600">Convallis tellus id interdum velit laoreet.</span>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 mt-4 lg:mt-0">
                <div
                    style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145, 210, 204, 0.2), rgba(160, 210, 250, 0.2)), linear-gradient(180deg, rgba(187, 199, 205, 0.2), rgba(145, 210, 204, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <div class="flex align-items-center justify-content-center bg-teal-200 mb-3"
                            style="width:3.5rem;height:3.5rem; border-radius:10px;">
                            <i class="pi pi-fw pi-shopping-cart text-2xl text-teal-700"></i>
                        </div>
                        <h5 class="mb-2 text-900">Ready to Use</h5>
                        <span class="text-600">Mauris sit amet massa vitae.</span>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 mt-4 lg:mt-0">
                <div
                    style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(145, 210, 204, 0.2), rgba(212, 162, 221, 0.2)), linear-gradient(180deg, rgba(251, 199, 145, 0.2), rgba(160, 210, 250, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <div class="flex align-items-center justify-content-center bg-blue-200 mb-3"
                            style="width:3.5rem;height:3.5rem; border-radius:10px;">
                            <i class="pi pi-fw pi-globe text-2xl text-blue-700"></i>
                        </div>
                        <h5 class="mb-2 text-900">Modern Practices</h5>
                        <span class="text-600">Elementum nibh tellus molestie nunc non.</span>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg-4 mt-4 lg:mt-0">
                <div
                    style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(160, 210, 250, 0.2), rgba(212, 162, 221, 0.2)), linear-gradient(180deg, rgba(246, 158, 188, 0.2), rgba(212, 162, 221, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <div class="flex align-items-center justify-content-center bg-purple-200 mb-3"
                            style="width:3.5rem;height:3.5rem; border-radius:10px;">
                            <i class="pi pi-fw pi-eye text-2xl text-purple-700"></i>
                        </div>
                        <h5 class="mb-2 text-900">Privacy</h5>
                        <span class="text-600">Neque egestas congue quisque.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-4 px-4 mx-0 mt-8 lg:mx-8">
        <div class="grid justify-content-center">

            <div class="col-12 md:col-10 lg:col-7">
                <div class="grid text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci beatae delectus accusantium eos.
                    Ipsum obcaecati sit quam optio aspernatur nulla.
                </div>
            </div>
        </div>
    </div>
</div>